button, .btn {
    border: 0;
    background: blue;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 1px 25px;
    border-radius: 5px;
    line-height: 22px;
    text-decoration: none;
    margin: 5px;
}